name: Test CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Uses Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Add hosts
        run: sudo echo "127.0.0.1 secret.nginx.local" | sudo tee -a /etc/hosts
      - name: Start Nginx
        run: yarn start
      - name: Install e2e tools
        run: cd e2e ; yarn install ; cd ..
      - name: Run e2e tests
        uses: cypress-io/github-action@v1
        with:
          install: false
          working-directory: e2e
      - name: Run Playwright test
        run: cd e2e ; yarn playwright
      # - name: Cypress Screenshots
      #   uses: actions/upload-artifact@v1
      #   if: failure()
      #   with:
      #     name: Cypress Screenshots
      #     path: e2e/cypress/screenshots
      # - name: Cypress Videos
      #   uses: actions/upload-artifact@v1
      #   if: always()
      #   with:
      #     name: Cypress Videos
      #     path: e2e/cypress/videos
